#### Django library ####
Django==5.1.9
#### Python PostgreSQL library ####
# psycopg2-binary==2.9.10
psycopg-binary==3.2.8
#### Django REST API libraries ####
djangorestframework==3.16.0
django-cors-headers==4.7.0
#### Elasticsearch libraries ####
elasticsearch-dsl==7.4.1
django-elasticsearch-dsl==7.4
