openapi: 3.0.3
servers:
  - url: https://rest.omicspred.org/
info:
  title: 'OmicsPred REST API'
  version: '1.1'
  description: |
    Programmatic access to the OmicsPred metadata.

    ---

    ###### REST API settings

    * `pagination`: This REST API is using pagination for the endpoints returning more than 1 results. It is currently set to **250** results per page.
      <a id="pagination">More information</a>
      <div id="content_pagination">

        ###### **Pagination structure**

        Here is an example of the pagination result structure in JSON:

        ```
          {
            "size": 250,
            "count": 5624,
            "next": "https://rest.omicspred.org/api/proteomics/Olink?limit=250&offset=250",
            "previous": null,
            "results": [
              < list the results 1 to 250 >
            ]
          }
        ```
        * **size**: is the number of results in the current page.
        * **count**: is the overall number of results.
        * **next**: is the URL to the following page of results.
        * **previous**: is the URL to the preceding page of results (only present if you are not on the first page).
        * **results**: contains the list of results of the current page.
        <pre></pre>
        ###### **Pagination parameters**
        * **limit**: The number of results per page can be overwritten using this parameter, e.g:
          * <code>.../api/proteomics/Olink/?limit=100</code>: returns the first 100 results.

          The default value is **250**. The maximum value is **500**. Over this maximum value, the REST API returns an error 400.

        * **offset**: This parameter indicates the starting position (0 based) of the query in relation to the complete set of results. It provides access to a desired range of results, e.g.:
          * <code>.../api/proteomics/Olink/?offset=75</code> provides results from the number **76** to **325**, as the number of results per page is **250** by default (equivalent to "limit=250")
          * <code>.../api/proteomics/Olink/?offset=75&limit=60</code> provides results from the number **76** to **135**

      </div>


    * `rate limit`: The limit number of queries is set to **100** queries per minute.
      <a id="rate_limit">More information</a>
      <div id="content_rate_limit">
        Here is an example of the JSON message returned if the rate limit is reached:

        ```
          {
            "message": "request limit exceeded",
            "availableIn": "33 seconds"
          }
        ```
        * **message**: description of the error.
        * **availableIn**: number of seconds before the rate limit is reset.
      </div>

    ---

    <a id="changelog">REST API version changelog</a>
    <div id="content_changelog">

      * <span class="badge badge-pill">1.1</span> - April 2025:
        * New endpoint `/api/tissue/` (`/api/tissue/all` and `/api/tissue/<tissue_id_or_name>`).
        * New search parameter *tissue_id* in `/api/score/search` and `/api/dataset/search`.
        * New field **tissue** in the Score schemas (`/api/score/` endpoints), containing the mapped tissue ontology (identifier, label, description)

      * <span class="badge badge-pill">1.0</span> - January 2025:
        * First version of the OmicsPred REST API
    </div>

    ---
  license:
    name: 'Apache 2.0'
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  contact:
    email: omicspred@gmail.com
    name: OmicsPred
    url: https://www.omicspred.org
tags:
  - name: "Score endpoints"
    description: Genetic Score metadata with linked molecular traits (genes, transcripts, proteins, metabolites), publications and platforms
  - name: "Publication endpoints"
    description: Publication metadata (PubMed IDs, doi, authors, associated platforms, ...)
  - name: "Phenotype endpoints"
    description: Phenotype metadata (Phenotype [ID, label, description, ...],Linked genetic Scores, ...)
  - name: "Performance Metrics endpoints"
    description: Performance metrics metadata (R2, Rho, p-value, Missing Rate, ...) with linked scores, publications, samples and cohorts
  - name: "Dataset endpoints"
    description: "Dataset metadata (name, publication, platform, samples, ...)"
  - name: "Platform endpoints"
    description: "Platform metadata (name, type, version, technic, ...)"
  - name: "Tissue endpoints"
    description: "Tissue ontology information (name, label, description, ...)"
  - name: "Sample/Cohort endpoints"
    description: Sample metadata (number of individuals, ancestry, cohorts)
  - name: "Omics endpoints"
    description: "Omics metadata (metabolomics, proteomics, transcriptomics, ...)"
  - name: "Molecular trait endpoints"
    description: "Molecular trait metadata (metabolite, transcript, protein, gene)"
  - name: "Pathway endpoints"
    description: "Pathway metadata (Reactome)"
  - name: "Other endpoints"
    description: "Extra endpoints: **/api/info** (REST API version, data counts, ...)"


components:
  schemas:

    # Ancestry #
    Ancestry:
      type: object
      description: "Ancestry distribution on each stage."
      properties:
        dev:
          type: object
          description: "Ancestries used in the development/training stage. Only available if there is ancestry data at this stage."
          properties:
            anc:
              type: object
              description: "Ancestry distribution."
              additionalProperties:
                type: object
                description: "Ancestry symbol, e.g. EUR"
                properties:
                  dist:
                    type: float
                    description: "Percentage of the samples/participants distribution"
                  count:
                    type: integer
                    description: "Number of samples/participants"
              example:
                EUR: { "dist": 80.0, "count": 1600}
                EAS: {
                    "dist": 20.0,
                    "count": 400
                  }
            count:
              type: integer
              description: "Total number of individuals from this stage."
              example: 2000
        eval:
          type: object
          description: "Ancestry(ies) used in the evaluation/validation stage. Only available if there is ancestry data at this stage."
          properties:
            anc:
              type: object
              description: "Ancestry distribution."
              additionalProperties:
                type: object
                description: "Ancestry symbol, e.g. EUR"
                properties:
                  dist:
                    type: float
                    description: "Percentage of the samples/participants distribution"
                  count:
                    type: integer
                    description: "Number of samples/participants"
              example:
                EUR: { "dist": 50.0, "count": 2500}
                ASN: { "dist": 10.0, "count": 500}
                MAO: {
                    "dist": 40.0,
                    "count": 2000,
                    "anc_list": [ "EAS", "SAS", "AMR", "AFR" ]
                  }
            count:
              type: integer
              description: "Total number of individuals from this stage."
              example: 5000


    # Cohort #
    Cohort:
      type: object
      description: "Structure containing information about a Cohort."
      properties:
        name_short:
          type: string
          description: "Cohort symbol"
          example: "INTERVAL"
        name_full:
          type: string
          description: "Cohort full name"
          example: "INTERVAL"
        description:
          type: string
          description: "Cohort additional information"
          example: "A cohort of healthy blood donors in England"
        url:
          type: string
          description: "URL of the Cohort project"
          example: "https://www.intervalstudy.org.uk/"

    Cohort_extended:
      description: "Based on the **Cohort** schema, with the addition of the '**ancestries**'."
      allOf:
        - $ref: '#/components/schemas/Cohort'
        - type: object
          properties:
            ancestries:
              type: array
              description: "List of ancestries associated with the cohort."
              items:
                type: string
              example: ['European','South Asian']


    # Dataset #
    Dataset:
      type: object
      description: "Structure containing information about a Dataset (EXCEPT the linked Publication information)"
      properties:
        name:
          type: string
          description: "Dataset name"
          example: "UKB European"
        platform:
          $ref: '#/components/schemas/Platform'
        scores_count:
          type: integer
          description: "Number of scores linked with the platform"
          example: 2384
        omics_type:
          type: string
          description: "Type of molecular trait detected by the platform"
          example: "protein"
        omics_count:
          type: integer
          description: "Number of molecular trait detected by the platform"
          example: 2384
        tissue:
          $ref: '#/components/schemas/Tissue'
        samples_training:
          type: array
          items:
            $ref: '#/components/schemas/Sample'
        samples_validation:
          type: array
          items:
            $ref: '#/components/schemas/Sample'
        scoring_files_urls:
          type: array
          items:
            type: object
            properties:
              gwas_sumstats:
                type: string
                description: "GWAS summary stats file"
                example: "https://app.box.com/shared/static/u3flbp13zjydegrxjb2uepagp1vb6bj2"
              scoring_files:
                type: string
                description: "Scoring files"
                example: "https://app.box.com/shared/static/z86fg93jg5gwdmmu4xn6u287mre2g5o7"
              score_variant_info:
                type: string
                description: "Variant information file"
                example: "https://app.box.com/shared/static/eac8psw30dxh9evwu9z0bj8hncru2ioa"
              validation_results:
                type: string
                description: "PGS performance metrics"
                example: "https://app.box.com/shared/static/7j7233otah0yxl4rypqx44wzsj7xywxp"
              scoring_files_pgsc_calc:
                type: string
                description: "Scoring files - pgsc_calc compatible"
                example: "https://app.box.com/shared/static/7qgaa2ci00x9kggyd48qodxd1ffo3ol7"

    Dataset_extended:
      description: "Based on the **Dataset** schema, with the addition of the '**publication**'."
      allOf:
        - $ref: '#/components/schemas/Dataset'
        - type: object
          properties:
            publication:
              $ref: '#/components/schemas/Publication'


    # Error message #
    Error_4XX:
      type: object
      description: "Error message for the response status code in the 4XX."
      properties:
        error_status:
          type: number
          example: 404
        message:
          type: string
          example: "This REST endpoint does not exist"


    # Gene #
    Gene_basic:
      type: object
      description: "Basic structure containing information about a Gene."
      properties:
        name:
          type: string
          description: "Gene name/symbol"
          example: "SERPINA12"
        external_id:
          type: string
          description: "Gene ID"
          example: "ENSG00000165953"

    Gene:
      description: "Structure containing information about a Gene."
      allOf:
        - $ref: '#/components/schemas/Gene_basic'
        - type: object
          properties:
            external_id_source:
              type: string
              description: "Source of the Gene ID"
              example: "Ensembl"
            synonyms:
              type: array
              description: "Gene synonym(s)"
              items:
                type: string
                example: 'IL27B'
            descriptions:
              type: array
              items:
                type: string
              description: "Gene descriptions/definitions"
              example: ['serpin family A member 12.']
            biotype:
              type: string
              description: "Biotype of the gene"
              example: "protein_coding"

    Gene_extended:
      description: "Based on the **Gene** schema, with the addition of the '**pathways**'."
      allOf:
        - $ref: '#/components/schemas/Gene'
        - type: object
          properties:
            pathways:
              type: array
              description: "List of pathways linked to the gene."
              items:
                $ref: '#/components/schemas/Pathway'


    # Metabolite #
    Metabolite_basic:
      type: object
      description: "Basic structure containing information about a Metabolite."
      properties:
        name:
          type: string
          description: "Metabolite name"
          example: "leucine"
        external_id:
          type: string
          description: "Metabolite ID"
          example: "CHEBI_25017"

    Metabolite:
      description: "Structure containing information about a Metabolite."
      allOf:
        - $ref: '#/components/schemas/Metabolite_basic'
        - type: object
          properties:
            external_id_source:
              type: string
              description: "Source of the Metabolite ID"
              example: "ChEBI"
            synonyms:
              type: array
              description: "Metabolite synonym(s)"
              items:
                type: string
                example: "Hleu"
            xrefs:
              type: array
              description: "Metabolite external reference(s)"
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: "C16439"
                  source:
                    type: string
                    example: "KEGG COMPOUND"

    Metabolite_extended:
      description: "Based on the **Metabolite** schema, with the addition of the '**description**' and '**pathways**'."
      allOf:
        - $ref: '#/components/schemas/Metabolite'
        - type: object
          properties:
            descriptions:
              type: array
              items:
                type: string
              description: "Metabolite descriptions/definitions"
              example: ['A branched-chain amino acid that consists of glycine ...']
            pathways:
              type: array
              description: "List of pathways linked to the gene."
              items:
                $ref: '#/components/schemas/Pathway'


    # Metric #
    Metric:
      type: object
      description: "Structure containing information about a Performance Metric."
      properties:
        type:
          type: string
          description: "Type of metrics"
          example: "Pearson's correlation"
        name:
          type: string
          description: "Metric name"
          example: "Proportion of the variance explained"
        name_short:
          type: string
          description: "Metric short notation"
          example: "R2"
        estimate:
          type: number
          example: 0.33
        pvalue:
          type: number
          example: 2.66e-77


    #  Molecular Trait #
    # MolecularTraitApplications:
    #   description: "Structure containing information about a molecular trait (gene,transcript,protein,metabolite)."
    #   type: object
    #   properties:
    #     name:
    #       type: string
    #       description: "Protein name"
    #       example: "Serpin A12"
    #     external_id:
    #       type: string
    #       description: "Protein ID"
    #       example: "Q8IW75"
    #     type:
    #       type: string
    #       description: "Type of molecular trait"
    #       example: "protein"


    # Pagination #
    Pagination:
      type: object
      properties:
        size:
          type: integer
          description: "Number of results in the current page"
          example: 50
        count:
          type: integer
          description: "Total count of results from the query"
          example: 137
        next:
          type: string
          description: "URL to the next page of results"
          example: "https://rest.omicspred.org/<endpoint>/<endpoint-subtype>?limit=50&offset=100"
        previous:
          type: string
          description: "URL to the previous page of results"
          example: "https://rest.omicspred.org/<endpoint>/<endpoint-subtype>?limit=50"


    # Pathway #
    Pathway:
      type: object
      description: "Structure containing information about a Pathway."
      properties:
        name:
          type: string
          description: "Pathway name"
          example: "Induction of Cell-Cell Fusion"
        external_id:
          type: string
          description: "Pathway ID"
          example: "R-HSA-9733458"
        external_id_source:
          type: string
          description: "Source of the Pathway ID"
          example: "Reactome"
        synonyms:
          type: array
          description: "Pathway synonym(s)"
          items:
            type: string
            example: "2019-nCoV infection"
        xrefs:
          type: array
          description: "Pathway external reference(s)"
          items:
            type: object
            properties:
              name:
                type: string
                example: "DOID:0080600"
              source:
                type: string
                example: "Human Disease Ontology"
        superpathways:
          type: array
          description: "Linked top level pathway(s)"
          items:
            $ref: '#/components/schemas/SuperPathway'

    Pathway_extended:
      description: "Based on the **Pathway** schema, with the addition of the '**genes**' and '**metabolites**'."
      allOf:
        - $ref: '#/components/schemas/Pathway'
        - type: object
          properties:
            genes:
              type: array
              description: "Linked gene(s)"
              items:
                $ref: '#/components/schemas/Gene'
            metabolites:
              type: array
              description: "Linked metabolite(s)"
              items:
                $ref: '#/components/schemas/Metabolite'


    # Performance Metrics #
    Performance:
      type: object
      description: "Performance Metric of a score"
      properties:
        performance_metrics:
          type: array
          description: "List of associated performance metrics"
          items:
            $ref: '#/components/schemas/Metric'
        cohort_label:
          type: string
          description: "Name of the cohort used to calculate the performance metric"
          example: 'MEC_CN'
        evaluation_type:
          type: string
          description: 'Type of evaluation'
          example: 'External Validation'
        performance_additional:
          type: string
          description: "Additional information about the performance metric"
          example: "Performed on 308 genes"
        covariates:
          type: string
          description: "Covariates used in the prediction model to evaluate the PGS."
          example: "Age, sex and the first 10 genetic principal components"

    Performance_extended:
      description: "Based on the **Performance** schema, with the addition of the '**id**','**associated_opgs_id**','**publication**','**sample**','**platform**' and '**efo**'."
      allOf:
        - type: object
          properties:
            associated_opgs_id:
              type: string
              description: "Associated OmicsPred Score ID"
              example: "OPGS002402"
            publication:
              $ref: '#/components/schemas/Publication'
            sample:
              $ref: '#/components/schemas/Sample'
            platform:
              $ref: '#/components/schemas/Platform'
            tissue:
              $ref: '#/components/schemas/Tissue'
        - $ref: '#/components/schemas/Performance'


    # Phenotype #
    Phenotype:
      type: object
      description: "Structure containing information about a Phenotype."
      properties:
        id:
          type: string
          description: "Phenotype ID"
          example: "250.2"
        name:
          type: string
          description: "Phenotype name"
          example: "Type 2 diabetes"
        category:
          type: string
          description: "Phenotype category"
          example: "endocrine/metabolic"
        source:
          type: string
          description: "Phenotype source"
          example: "PheCode"
        scores_count:
          type: integer
          description: "Number of scores linked with the phenotype."
          example: 10

    Phenotype_extended:
      description: "Based on the **Phenotype** schema, with the addition of the '**child_phenotype**'."
      allOf:
        - $ref: '#/components/schemas/Phenotype'
        - type: object
          properties:
            child_phenotype:
              type: array
              description: "List of child phenotype(s)."
              items:
                $ref: '#/components/schemas/Phenotype'

    PhenotypeScoresCount:
      description: "Based on the **Phenotype** schema, with the addition of the '**scores_count**'."
      allOf:
        - $ref: '#/components/schemas/Phenotype'
        - type: object
          properties:
            scores_count:
              type: integer
              description: "Number of scores linked with the Phenotype entry."
              example: 6


    # Platform #
    Platform:
      type: object
      description: "Structure containing information about a Plaform."
      properties:
        name:
          type: string
          description: "Name of the platform"
          example: "Olink"
        full_name:
          type: string
          description: "Full name of the platform"
          example: "Olink Target"
        version:
          type: string
          description: "Platform's version"
          example: "3.0"
        technic:
          type: string
          description: "Technic used by the platform"
          example: "aptamer-based multiplex protein assay"
        type:
          type: string
          description: "Type of Omics"
          example: "Proteomics"

    Platform_extended:
      description: "Based on the **Platform** schema, with the addition of the '**scores_count**'."
      allOf:
        - $ref: '#/components/schemas/Platform'
        - type: object
          properties:
            scores_count:
              type: integer
              description: "Number of scores linked with the platform"
              example: 2384


    # Protein #
    Protein_basic:
      type: object
      description: "Basic structure containing information about a Protein."
      properties:
        name:
          type: string
          description: "Protein name"
          example: "Serpin A12"
        external_id:
          type: string
          description: "Protein ID"
          example: "Q8IW75"

    Protein:
      description: "Structure containing information about a Protein."
      allOf:
        - $ref: '#/components/schemas/Protein_basic'
        - type: object
          properties:
            external_id_source:
              type: string
              description: "Source of the Protein ID"
              example: "UniProt"
            synonyms:
              type: array
              description: "Protein synonym(s)"
              items:
                type: string
                example: 'Visceral adipose-specific serpin'
            descriptions:
              type: array
              items:
                type: string
              description: "Protein descriptions/definitions"
              example: ['Adipokine that modulates insulin action by specifically inhibiting its target protease KLK7 in white adipose tissues.']

    Protein_extended:
      description: "Based on the **Protein** schema, with the addition of the '**gene**' and '**pathways**'."
      allOf:
        - $ref: '#/components/schemas/Protein'
        - type: object
          properties:
            gene:
              $ref: '#/components/schemas/Gene'
            pathways:
              type: array
              items:
                $ref: '#/components/schemas/Pathway'


    # Publication #
    Publication:
      type: object
      description: "Structure containing information about a Publication."
      properties:
        title:
          type: string
          description: "Publication title"
          example: "An atlas of genetic scores to predict multi-omic traits."
        doi:
          type: string
          description: "Digital Object Identifier"
          example: "10.1038/s41586-023-05844-9"
        pmid:
          type: integer
          description: "PubMed identifier"
          example: 36991119
        journal:
          type: string
          description: "The publication's location"
          example: "Nature"
        firstauthor:
          type: string
          description: "First author of the publication"
          example: "Xu Y"
        date_publication:
          type: string
          description: "Date of publication (format YYYY-MM-DD)"
          format: date
          example: "2023-03-29"

    Publication_extended:
      type: object
      description: "Based on the **Publication** schema, with the addition of the '**date_release**', '**authors**' and '**platforms**'."
      allOf:
        - $ref: '#/components/schemas/Publication'
        - type: object
          properties:
            date_release:
              type: string
              description: "Release date in OmicsPred (format YYYY-MM-DD)"
              format: date
              example: "2023-03-29"
            authors:
              type: string
              description: "Concatenated list of all the publication authors"
              example: "Xu Y, ... , Inouye M."
            datasets:
              type: array
              description: "List of datasets (including platforms)"
              items:
                $ref: '#/components/schemas/Dataset'


    # Sample #
    Sample:
      type: object
      description: "Structure containing information about a study Sample."
      properties:
        sample_number:
          type: integer
          description: "Number of participants in the sample"
          example: 1043
        sample_age:
          type: integer
          description: "Mean age in the sample population"
          example: 53.8
        sample_age_sd:
          type: integer
          description: "Standard deviation of the mean age in the sample population"
          example: 8.01
        sample_percent_male:
          type: number
          description: "Percentage of male participants"
          example: 67.75
        ancestry_broad:
          type: string
          description: "Author reported ancestry is mapped to the best matching ancestry category from the NHGRI-EBI GWAS Catalog framework (Table 1, Morales et al. (2018))."
          example: "European"
        ancestry_free:
          type: string
          description: "A more detailed description of sample ancestry that usually matches the most specific description described by the authors (e.g. French, Chinese)."
          example: "French Canadian"
        ancestry_country:
          type: string
          description: "Author reported countries of recruitment (if available)."
          example: "Canada"
        ancestry_additional:
          type: string
          description: "Any additional description not captured in the structured data (e.g. founder or genetically isolated populations, or further description of admixed samples)."
          example: "Cohort contains individuals of East Asian, European & Hispanic ancestries"
        source_gwas_catalog:
          type: string
          description: "Associated NHGRI-EBI GWAS Catalog study identifier"
          example: "GCST001937"
        source_pmid:
          type: integer
          description: "Associated PubMed identifier"
          example: 26343387
        source_doi:
          type: string
          description: "Associated Digital Object Identifier"
          example: "10.1038/s41588-021-00783-5"
        cohorts:
          type: array
          description: "List of cohorts that collected the samples"
          items:
            $ref: '#/components/schemas/Cohort'
        cohorts_additional:
          type: string
          description: "Any additional description about the samples and what they were used for that is not captured by the structured categories (e.g. sub-cohort information)."
          example: "Phase 1"


    # Sample Applications #
    SampleApplications:
      type: object
      description: "Structure containing information about a SampleAppliction."
      properties:
        sample_number:
          type: integer
          description: "Number of participants in the sample"
          example: 403874
        sample_cases:
          type: integer
          description: "Number of cases in the sample"
          example: 723
        sample_controls:
          type: integer
          description: "Number of controls in the sample"
          example: 403151
        sample_percent_female:
          type: number
          description: "Percentage of female participants"
          example: 54.0
        sample_age:
          type: integer
          description: "Mean age in the sample population"
          example: 53.8
        sample_age_sd:
          type: integer
          description: "Standard deviation of the mean age in the sample population"
          example: 8.01


    # Score #
    Score:
      type: object
      description: "Structure containing Score information."
      properties:
        id:
          type: string
          description: "OmicsPred Score ID"
          example: "OPGS002402"
        name:
          type: string
          description: This may be the name that the authors describe the genetic score with in the source publication, or a name that a curator has assigned to identify the score during the curation process (before a Genetic Score ID has been given)
          example: "CLEC12A.11187.11.3"
        trait_reported:
          type: string
          description: "The author-reported molecular trait that the genetic score has been developed to predict."
          example: "C-type lectin domain family 12 member A"
        trait_reported_id:
          type: string
          description: "The author-reported molecular trait ID hat the genetic score has been developed to predict"
          example: "Q5QGZ9"
        method_name:
          type: string
          description: "The name or description of the method or computational algorithm used to develop the PGS."
          example: "Bayesian Ridge regression"
        method_params:
          type: string
          description: "A description of the relevant inputs and parameters relevant to the genetic score development method/process."
          example: "P<5x10-8"
        dataset_name:
          type: string
          description: "Dataset name"
          example: "UKB European"
        publication:
          $ref: '#/components/schemas/Publication'
        platform:
          $ref: '#/components/schemas/Platform'
        tissue:
          $ref: '#/components/schemas/Tissue'
        genes:
          type: array
          items:
            $ref: '#/components/schemas/Gene'
        transcripts:
          type: array
          items:
            $ref: '#/components/schemas/Transcript'
        proteins:
          type: array
          items:
            $ref: '#/components/schemas/Protein'
        metabolites:
          type: array
          items:
            $ref: '#/components/schemas/Metabolite'
        variants_number:
          type: integer
          description: "Number of variants used to calculate the PGS."
          example: 182
        variants_interactions:
          type: integer
          description: "Number of higher-order variant interactions included in the PGS."
          example: 0
        variants_genomebuild:
          type: string
          description: "The version of the genome assembly that the variants present in the genetic score are associated with. Listed as NR (Not Reported) if unknown."
          example: "GRCh38"
        license:
          type: string
          description: "License applied to the score"
          example: "Creative Commons Attribution 4.0 International (CC BY 4.0)"

    # Score with ancestry #
    Score_Ancestry:
      description: "Based on the **Score** schema, with the addition of the '*ancestry*' distribution."
      allOf:
        - $ref: '#/components/schemas/Score'
        - type: object
          properties:
            ancestry:
              $ref: '#/components/schemas/Ancestry'

    # Score - Molecular Trait Applications #
    Score_MolecularTrait:
      type: object
      description: "Structure containing Score information with its associated performance metrics."
      properties:
        id:
          type: string
          description: "OmicsPred Score ID"
          example: "OPGS002402"
        variants_number:
          type: integer
          example: 182
        dataset_name:
          type: string
          description: "Dataset name"
          example: "UKB European"
        platform_version:
          type: string
          description: "Platform version"
          example: "3.0"
        publication:
          $ref: '#/components/schemas/Publication'
        performance_data:
          type: array
          description: "Simplified structure containing information about a Performance Metrics for a Cohort."
          items:
            additionalProperties:
              type: object
              properties:
                estimate:
                  type: integer
                  description: "Numeric value of the performance metrics"
                  example: 0.345
        ancestry:
          $ref: '#/components/schemas/Ancestry'

    # Score with Performance data #
    Score_Performance:
      description: "Based on the **Score** schema, with the addition of the '*score_performance*'."
      allOf:
        - $ref: '#/components/schemas/Score_Ancestry'
        - type: object
          properties:
            score_performance:
              type: array
              items:
                $ref: '#/components/schemas/Performance'
  
    # Score with Pathways #
    Score_Pathway:
      description: "Based on the **Score** schema, with the addition of the '*genes__pathways*' and '*metabolites__pathways*'."
      allOf:
        - $ref: '#/components/schemas/Score_Ancestry'
        - type: object
          properties:
            genes:
              type: array
              items:
                $ref: '#/components/schemas/Gene_extended'
            metabolites:
              type: array
              items:
                $ref: '#/components/schemas/Metabolite_extended'

    # Score Applications #
    ScoreApplications:
      type: object
      description: "Structure containing ScoreApplications information (Score + Phenotype)."
      properties:
        score_id:
          type: string
          description: "OmicsPred Score ID"
          example: "OPGS002402"
        phenotype:
          $ref: '#/components/schemas/Phenotype'
        platform:
          $ref: '#/components/schemas/Platform'
        sample:
          $ref: '#/components/schemas/SampleApplications'
        cohort:
          $ref: '#/components/schemas/Cohort'
        data_values:
          type: object
          description: "Measurements of the association between the Score and Phenotype."
          properties:
            # R2:
            #    type: number
            #    description: "Coefficient of determination"
            #    example: 0.269
            HR:
              type: number
              description: "Hazard Ratio"
              example: 1.13,
            HR_lower:
              type: number
              description: "Hazard Ratio - Confidence interval - Lower"
              example: 1.07,
            HR_upper:
              type: number
              description: "Hazard Ratio - Confidence interval - Upper"
              example: 1.19,
            FDR:
              type: number
              description: "False Discovery Rate adjusted P-value"
              example: 0.0404
        genes:
          type: array
          items:
            $ref: '#/components/schemas/Gene_basic'
        proteins:
          type: array
          items:
            $ref: '#/components/schemas/Protein_basic'
        metabolites:
          type: array
          items:
            $ref: '#/components/schemas/Metabolite_basic'
        # molecular_traits:
        #   type: array
        #   items:
        #     $ref: '#/components/schemas/MolecularTraitApplications'


    # Score - Molecular Trait #
    ScoreMetabolite:
      description: "Structure containing Score information with its associated performance metrics for a given metabolomics platform."
      allOf:
        - $ref: '#/components/schemas/Score_MolecularTrait'
        - type: object
          properties:
            trait_reported:
              type: string
              description: "The author-reported molecular trait that the genetic score has been developed to predict."
              example: "orotidine"
            trait_reported_id:
              type: string
              description: "The author-reported molecular trait ID hat the genetic score has been developed to predict"
              example: "M35172"
            metabolites:
              type: array
              items:
                $ref: '#/components/schemas/Metabolite'

    ScoreProtein:
      description: "Structure containing Score information with its associated performance metrics for a given proteomics platform."
      allOf:
        - $ref: '#/components/schemas/Score_MolecularTrait'
        - type: object
          properties:
            genes:
              type: array
              items:
                $ref: '#/components/schemas/Gene'
            proteins:
              type: array
              items:
                $ref: '#/components/schemas/Protein'

    ScoreTranscript:
      description: "Structure containing Score information with its associated performance metrics for a given transcriptomics platform."
      allOf:
        - $ref: '#/components/schemas/Score_MolecularTrait'
        - type: object
          properties:
            transcripts:
              type: array
              items:
                $ref: '#/components/schemas/Gene'


    # Super Pathway #
    SuperPathway:
      type: object
      description: "Structure containing information about a top level pathway."
      properties:
        name:
          type: string
          description: "Pathway name"
          example: "Disease"
        external_id:
          type: string
          description: "Pathway ID"
          example: "R-HSA-1643685"
        external_id_source:
          type: string
          description: "Source of the Pathway ID"
          example: "Reactome"
        # synonyms:
        #   type: array
        #   description: "Pathway synonym(s)"
        #   items:
        #     type: object
        #     properties:
        #       name:
        #         type: string
        #         example: "disease"
        # xrefs:
        #   type: array
        #   description: "Pathway external reference(s)"
        #   items:
        #     type: object
        #     properties:
        #       name:
        #         type: string
        #         example: "DOID:4"
        #       source:
        #         type: string
        #         example: "Human Disease Ontology"

    # Tissue #
    Tissue:
      type: object
      description: "Structure containing information about a Tissue. Mainly extracted from the EMBL-EBI Ontology Lookup Service (OLS)."
      properties:
        id:
          type: string
          description: "An identifier that links to an Ontology (e.g. UBERON)"
          example: "'UBERON_0001969"
        label:
          type: string
          description: "Tissue label/name"
          example: "blood plasma"
        description:
          type: string
          description: "Detailed description of the trait."
          example: "The liquid component of blood, in which erythrocytes are suspended.."
        url:
          type: string
          description: "External link to the Ontology entry"
          example: "http://purl.obolibrary.org/obo/UBERON_0001969"
        type:
          type: string
          description: "Type of trait"
          example: "tissue"

    TissueScoresCount:
      description: "Based on the **Tissue** schema, with the addition of the '**scores_count**'."
      allOf:
        - $ref: '#/components/schemas/Tissue'
        - type: object
          properties:
            scores_count:
              type: integer
              description: "Number of scores linked to the tissue."
              example: 10


    # Transcript #
    Transcript:
      type: object
      description: "Structure containing information about a Transcript."
      properties:
        name:
          type: string
          description: "Transcript name/symbol"
          example: "SERPINA12-201"
        external_id:
          type: string
          description: "Transcript ID"
          example: "ENST00000341228"
        external_id_source:
          type: string
          description: "Source of the Transcript ID"
          example: "Ensembl"



#############################################################

paths:

  ## Sample/Cohort endpoints ##
  /api/cohort/all:
    get:
      tags:
        - "Sample/Cohort endpoints"
      operationId: getAllCohorts
      description: |
        Retrieve all Cohorts, including for each of them:
          * Cohort short name
          * Cohort full name
          * Cohort description
          * Cohort Project URL
          * List of ancestries

        Example of request:
        ```
        https://rest.omicspred.org/api/cohort/all
        ```
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: "List of Cohorts in OmicsPred"
                    type: array
                    items:
                      $ref: '#/components/schemas/Cohort_extended'
          description: |
            All Cohorts in OmicsPred

            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/cohort/{cohort}:
    get:
      tags:
        - "Sample/Cohort endpoints"
      operationId: getCohort
      description: |
        Retrieve a Cohorts, including :
          * Cohort short name
          * Cohort full name
          * Cohort description
          * Cohort Project URL
          * List of ancestries

        Example of request:
        ```
        https://rest.omicspred.org/api/cohort/INTERVAL
        ```
      parameters:
      - name: cohort
        in: path
        required: true
        description: 'Cohort name'
        examples:
          INTERVAL:
            value: 'INTERVAL'
          UKB:
            value: 'UKB'
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cohort_extended'
          description: 'Cohort information'
        '4XX':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)


  /api/sample/all:
    get:
      tags:
        - "Sample/Cohort endpoints"
      operationId: getAllSamples
      description: | 
        Retrieve all the Samples, including for each of them:
          * Sample number, age, percentage of male
          * Sample ancestry
          * Source PubMed ID, DOI, NHGRI GWAS Catalog ID
          * Cohort information

        Example of request:
        ```
        https://rest.omicspred.org/api/sample/all
        ```
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: "List of Samples"
                    type: array
                    items:
                      $ref: '#/components/schemas/Sample'
          description: |
            List of Sample data
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)


  ## Pathway endpoints ##
  /api/pathway/all:
    get:
      tags:
        - "Pathway endpoints"
      operationId: getAllPathways
      description: |
        Retrieve all Pathways, including for each of them:
          * Pathway name and ID
          * Top level pathway(s)
          * Linked genes
          * Linked metabolites

        Example of request:
        ```
        https://rest.omicspred.org/api/pathway/all
        ```
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List all the Pathways'
                    type: array
                    items:
                      $ref: '#/components/schemas/Pathway_extended'
          description: |
            List all the Pathways
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/pathway/{pathway_id}:
    get:
      tags:
        - "Pathway endpoints"
      operationId: getPathway
      description: |
        Retrieve a Pathway, including:
          * Pathway name and ID
          * Top level pathway(s)
          * Linked genes
          * Linked metabolites

        The `pathway_id` corresponds to a Reactome ID.

        Example of request:
        ```
        https://rest.omicspred.org/api/pathway/R-HSA-9733458
        ```
      parameters:
      - name: pathway_id
        in: path
        required: true
        description: 'Reactome ID'
        examples:
          R-HSA-9733458:
            value: 'R-HSA-9733458'
          R-HSA-352230:
            value: 'R-HSA-352230'
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pathway_extended'
          description: 'Pathway information'
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)


  ## Molecular trait endpoints ##
  /api/metabolite/{metabolite_id}:
    get:
      tags:
        - "Molecular trait endpoints"
      operationId: getMetabolite
      description: |
        Retrieve the Metabolite, including:
          * Metabolite name
          * Metabolite ID
          * Metabolite source (e.g. ChEBI)
          * Metabolite synonyms
          * Metabolite external references
          * Metabolite description
          * Linked pathways

        The `pathway_id` corresponds to a Reactome ID.

        Example of request:
        ```
        https://rest.omicspred.org/api/metabolite/CHEBI_25017
        ```
      parameters:
      - name: metabolite_id
        in: path
        required: true
        description: 'Metabolite name or ID'
        examples:
          CHEBI_25017:
            value: 'CHEBI_25017'
          methionylalanine:
            value: 'methionylalanine'
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metabolite_extended'
          description: 'Metabolite information'
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/protein/{protein_id}:
    get:
      tags:
        - "Molecular trait endpoints"
      operationId: getProtein
      description: |
        Retrieve the Protein, including:
          * Protein name
          * Protein ID
          * Protein source (e.g. UniProt)
          * Protein synonyms
          * Protein description(s)
          * Linked gene
          * Linked pathways

        Example of request:
        ```
        https://rest.omicspred.org/api/protein/P08887
        ```
      parameters:
      - name: protein_id
        in: path
        required: true
        description: 'Protein name or UniProt ID'
        examples:
          P08887:
            value: 'P08887'
          Vitronectin:
            value: 'Vitronectin'
        schema:
          type: string
      - in: query
        name: extend_schema
        required: false
        schema:
          type: integer
        description: Include theLinked gene and pathway(s)
        examples:
          exclude_extended_schema_sel:
            summary: Use the default schema
            value: 0
          include_extended_schema_sel:
            summary: Use the extended schema (withLinked gene and pathway(s))
            value: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/Protein_extended'
          description: 'Protein information'
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/protein/search:
    get:
      tags:
        - "Molecular trait endpoints"
      operationId: searchProteins
      description: | 
        Search proteins by gene name/symbol or ID, including for each of the results:
          * Protein name
          * Protein ID
          * Protein source (e.g. UniProt)
          * Protein synonyms
          * Protein description(s)
          * Linked gene
          * Linked pathways

        Example of request:
        ```
        https://rest.omicspred.org/api/protein/search?gene=COL1A1
        ```
      parameters:
      - name: gene
        required: true
        in: query
        description: Gene name/symbol or ID.
        examples:
          COL1A1:
            value: "COL1A1"
          ENSG00000165953:
            value: "ENSG00000165953"
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List of proteins'
                    type: array
                    items:
                      $ref: '#/components/schemas/Protein_extended'
          description: |
            List of proteins linked to the gene name/symbol or ID provided
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/gene/{gene_id}:
    get:
      tags:
        - "Molecular trait endpoints"
      operationId: getGene
      description: |
        Retrieve the Gene, including:
          * Gene name
          * Gene ID
          * Gene source (e.g. Ensembl)
          * Gene synonyms
          * Gene description
          * Linked pathways

        Example of request:
        ```
        https://rest.omicspred.org/api/gene/COL1A1
        ```
      parameters:
      - name: gene_id
        in: path
        required: true
        description: 'Gene name/symbol or Ensembl Gene ID'
        examples:
          COL1A1:
            value: "COL1A1"
          ENSG00000165953:
            value: "ENSG00000165953"
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gene_extended'
          description: 'Gene information'
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)


  ## Omics endpoints ##
  /api/metabolomics/{platform}:
    get:
      tags:
        - "Omics endpoints"
      operationId: getMetabolomicsScores
      description: |
        Retrieve all the scores linked with the given metabolomics platform, including for each of the scores:
          * OmicsPred Score ID
          * Variants number
          * Platform version
          * Publication information
          * Ancestry distribution
          * Performance Metrics data
          * Reported Molecular Trait
          * Linked metabolites

        Example of request:
        ```
        https://rest.omicspred.org/api/metabolomics/Metabolon
        ```
      parameters:
      - name: platform
        in: path
        required: true
        description: 'Name of the metabolomics platform'
        examples:
          Metabolon:
            value: 'Metabolon'
          Nightingale:
            value: 'Nightingale'
        schema:
          type: string
      - name: include_performance_metrics
        in: query
        required: false
        schema:
          type: integer
        description: Flag to include or not the Performance Metrics for each score [default=1]  - *optional*
        examples:
          exclude_perf_sel:
            summary: Exclude the list of Performance Metrics
            value: 0
          include_perf_sel:
            summary: Include the list of Performance Metrics
            value: 1
      - name: pmid
        in: query
        required: false
        description: PubMed ID (without the prefix "PMID:") - *optional*
        schema:
          type: integer
        examples:
            pmid_sel:
              summary: Select an example or type an ID - click on 'Try it out' first
            pmid_1:
              summary: 'PMID: 36991119'
              value: 36991119
      - name: version
        in: query
        required: false
        description: Platform version - *optional*
        schema:
          type: string
        examples:
            version_sel:
              summary: Type a platform version - click on 'Try it out' first
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List of Scores'
                    type: array
                    items:
                      $ref: '#/components/schemas/ScoreMetabolite'
          description: |
            List all the score associated with the given metabolomics platform
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/proteomics/{platform}:
    get:
      tags:
        - "Omics endpoints"
      operationId: getProteomicsScores
      description: |
        Retrieve all the scores linked with the given proteomics platform, including for each of the scores:
          * OmicsPred Score ID
          * Variants number
          * Platform version
          * Publication information
          * Ancestry distribution
          * Performance Metrics data
          * Linked genes
          * Linked proteins

        Example of request:
        ```
        https://rest.omicspred.org/api/proteomics/Olink
        ```
      parameters:
      - name: platform
        in: path
        required: true
        description: 'Name of the proteomics platform'
        examples:
          Olink:
            value: 'Olink'
          Somalogic:
            value: 'Somalogic'
        schema:
          type: string
      - name: include_performance_metrics
        in: query
        required: false
        schema:
          type: integer
        description: Flag to include or not the Performance Metrics for each score [default=1]  - *optional*
        examples:
          exclude_perf_sel:
            summary: Exclude the list of Performance Metrics
            value: 0
          include_perf_sel:
            summary: Include the list of Performance Metrics
            value: 1
      - name: pmid
        in: query
        required: false
        description: PubMed ID (without the prefix "PMID:") - *optional*
        schema:
          type: integer
        examples:
            pmid_sel:
              summary: Select an example or type an ID - click on 'Try it out' first
            pmid_1:
              summary: 'PMID: 36991119'
              value: 36991119
      - name: version
        in: query
        required: false
        description: Platform version - *optional*
        schema:
          type: string
        examples:
            version_sel:
              summary: Select an example or type a platform version - click on 'Try it out' first
            version_olink:
              summary: 'Explore (Olink)'
              value: 'Explore'
            version_somalogic:
              summary: '3.0 (Somalogic)'
              value: '3.0'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List of Scores'
                    type: array
                    items:
                      $ref: '#/components/schemas/ScoreProtein'
          description: |
            List all the scores linked with the given proteomics platform
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/transcriptomics/{platform}:
    get:
      tags:
        - "Omics endpoints"
      operationId: getTranscriptomicsScores
      description: |
        Retrieve all the scores linked with the given transcriptomics platform, including for each of the scores:
          * OmicsPred Score ID
          * Variants number
          * Platform version
          * Publication information
          * Ancestry distribution
          * Performance Metrics data
          * Linked genes

        Example of request:
        ```
        https://rest.omicspred.org/api/transcriptomics/Illumina RNAseq
        ```
      
      parameters:
      - name: platform
        in: path
        required: true
        description: 'Platform name'
        examples:
          Illumina RNAseq:
            value: 'Illumina RNAseq'
        schema:
          type: string
      - name: include_performance_metrics
        in: query
        required: false
        schema:
          type: integer
        description: Flag to include or not the Performance Metrics for each score [default=1]  - *optional*
        examples:
          exclude_perf_sel:
            summary: Exclude the list of Performance Metrics
            value: 0
          include_perf_sel:
            summary: Include the list of Performance Metrics
            value: 1
      - name: pmid
        in: query
        required: false
        description: PubMed ID (without the prefix "PMID:") - *optional*
        schema:
          type: integer
        examples:
            pmid_sel:
              summary: Select an example or type an ID - click on 'Try it out' first
            pmid_1:
              summary: 'PMID: 36991119'
              value: 36991119
      - name: version
        in: query
        required: false
        description: Platform version - *optional*
        schema:
          type: string
        examples:
            version_sel:
              summary: Type a platform version - click on 'Try it out' first
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List of Scores'
                    type: array
                    items:
                      $ref: '#/components/schemas/ScoreTranscript'
          description: |
            List all the scores linked with the given transcriptomics platform
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  ## Performance metrics endpoints ##

  # /performance/all:
  #   get:
  #     operationId: getAllPerformanceMetrics
  #     description: Retrieve all the Performance Metrics
  #     responses:
  #       '200':
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 count:
  #                   type: integer
  #                   example: 123
  #                 next:
  #                   type: string
  #                   nullable: true
  #                   format: uri
  #                   example: http://api.example.org/accounts/?offset=400&limit=100
  #                 previous:
  #                   type: string
  #                   nullable: true
  #                   format: uri
  #                   example: http://api.example.org/accounts/?offset=200&limit=100
  #                 results:
  #                   type: array
  #                   items:
  #                     $ref: '#/components/schemas/Performance'
  #         description: ''

  /api/performance/search:
    get:
      tags:
        - "Performance Metrics endpoints"
      operationId: searchPerformanceMetrics
      description: |
        Search Performance Metric(s) by OmicsPred Score ID, PubMed ID and/or Platform.

        Each result includes:
          * Associated OmicsPred Score ID
          * Publication information
          * Sample information (including the associated cohort(s))
          * Platform information
          * Tissue information
          * Performance Metric(s)

        Example of request:
        ```
        https://rest.omicspred.org/api/performance/search?opgs_id=OPGS002402
        ```
      parameters:
        - name: opgs_id
          required: false
          in: query
          description: OmicsPred Score ID - *optional*
          schema:
            type: string
          examples:
            op_sel:
                summary: Select an example or type an ID - click on 'Try it out' first
            OPGS002402:
              value: 'OPGS002402'
            OPGS003423:
              value: 'OPGS003423'
        - name: pmid
          required: false
          in: query
          description: PubMed ID (without the prefix "PMID:") - *optional*
          schema:
            type: integer
          examples:
              pmid_sel:
                summary: Select an example or type an ID - click on 'Try it out' first
              pmid_1:
                summary: 'PMID: 36991119'
                value: 36991119
        - name: platform
          required: false
          in: query
          description: The platform name.
          schema:
            type: string
          examples:
            platform_sel:
              summary: Select an example or type a platform name - click on 'Try it out' first
            Olink:
              value: 'Olink'
            Nightingale:
              value: 'Nightingale'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List of Performance Metrics'
                    type: array
                    items:
                      $ref: '#/components/schemas/Performance_extended'
          description: |
            List of Performance Metrics
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/performance/search/{type}/{molecular_trait}:
    get:
      tags:
        - "Performance Metrics endpoints"
      operationId: searchPerformancesByMolecularTrait
      description: |
        Search the Performance metric(s) using a molecular trait name/symbol or ID.

        The molecular trait types are:
          * gene
          * protein
          * metabolite

        Each result includes:
          * Associated OmicsPred Score ID
          * Publication information
          * Sample information (including the associated cohort(s))
          * Platform information
          * Tissue information
          * Performance Metric(s)

        Examples of request:
        ```
        - https://rest.omicspred.org/api/performance/search/gene/COL1A1
        - https://rest.omicspred.org/api/performance/search/protein/P08887
        ```
      parameters:
        - name: type
          in: path
          required: true
          description: 'Molecular trait type'
          schema:
            type: string
            enum: [gene, protein, metabolite]
            readOnly: true
        - name: molecular_trait
          in: path
          required: true
          description: 'Molecular Trait name/symbol or ID'
          examples:
            Gene COL1A1:
              value: "COL1A1"
            Protein Q8IW75:
              value: "Q8IW75"
            Metabolite CHEBI_25017:
              value: "CHEBI_25017"
          schema:
            type: string
        - name: opgs_id
          required: false
          in: query
          description: OmicsPred Score ID - *optional*
          schema:
            type: string
          examples:
            op_sel:
                summary: Select an example or type an ID - click on 'Try it out' first
            OPGS002402:
              value: 'OPGS002402'
            OPGS003423:
              value: 'OPGS003423'
        - name: pmid
          required: false
          in: query
          description: PubMed ID (without the prefix "PMID:") - *optional*
          schema:
            type: integer
          examples:
              pmid_sel:
                summary: Select an example or type an ID - click on 'Try it out' first
              pmid_1:
                summary: 'PMID: 36991119'
                value: 36991119
        - name: platform
          required: false
          in: query
          description: The platform name.
          schema:
            type: string
          examples:
            platform_sel:
              summary: Select an example or type a platform name - click on 'Try it out' first
            Olink:
              value: 'Olink'
            Nightingale:
              value: 'Nightingale'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List of Performance Metrics'
                    type: array
                    items:
                      $ref: '#/components/schemas/Performance_extended'
          description: |
            List all the Genetic scores linked with the molecular trait

            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)


  ## Publication endpoints ##
  /api/publication/all:
    get:
      tags:
        - "Publication endpoints"
      operationId: getAllPublications
      description: |
        Retrieve all the Publications, including for each of them:
          * Pubmed ID and doi
          * Publication title, journal, date and authors
          * Associated Dataset(s):
            * Platform
            * Biological tissue
            * Sample training information
            * Sample validation information
            * URLs to the data files

        Example of request:
        ```
        https://rest.omicspred.org/api/publication/all
        ```
        ---
        ###### **Filtering**

        You can choose to filter the results of this endpoint to a specified list of studies by providing a list of PubMed IDs (pmid) in one of two ways:
        1. A comma-seperated list of PubMed IDs in the request URL (this will not work for larger queries), e.g.:
        ```
        https://rest.omicspred.org/api/publication/all?filter_ids=36991119,35202437
        ```
        2. A json-formatted list of IDs, e.g.: `{ "filter_ids" : ["36991119","35202437"] }`. Example with curl:
        ```
        curl -X GET 'https://rest.omicspred.org/publication/all' -H 'Content-type:application/json' -d '{ "filter_ids" : ["36991119", "35202437"] }'
        ```
      parameters:
        - in: query
          name: filter_ids
          required: false
          schema:
            type: string
          description: Comma-separated list of PubMed IDs (without the prefix "PMID:")
          examples:
            pmid_sel:
              summary: Select an example or type PubMed ID(s) - click on 'Try it out' first
            pmid_1:
              summary: 'PMID: 36991119'
              value: 36991119
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: "List all the Publications"
                    type: array
                    items:
                      $ref: '#/components/schemas/Publication_extended'
          description: |
            List all the Publications
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/publication/{pmid}:
    get:
      tags:
        - "Publication endpoints"
      operationId: getPublication
      description: |
        Retrieve a Publication, including:
          * Pubmed ID and doi
          * Publication title, journal, date and authors
          * Associated Dataset(s):
            * Platform
            * Biological tissue
            * Sample training information
            * Sample validation information
            * URLs to the data files

        Example of request:
        ```
        https://rest.omicspred.org/api/publication/36991119
        ```
      parameters:
      - name: pmid
        in: path
        required: true
        description: 'PubMed ID'
        examples:
          pmid_sel:
            summary: 'PMID: 36991119'
            value: 36991119
        schema:
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Publication_extended'
          description: 'Publication information'
        '4XX':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/publication/search:
    get:
      tags:
          - "Publication endpoints"
      operationId: searchPublications
      description: |
        Search Publication(s) by OmicsPred Score ID, PubMed ID and/or author.

        Each result includes:
          * Pubmed ID and doi
          * Publication title, journal, date and authors
          * Associated Dataset(s):
            * Platform
            * Biological tissue
            * Sample training information
            * Sample validation information
            * URLs to the data files

        Example of request:
        ```
        https://rest.omicspred.org/api/publication/search?pmid=36991119
        ```
      parameters:
        - in: query
          name: opgs_id
          schema:
            type: string
          required: false
          description: OmicsPred Score ID - *optional*
          examples:
            pgs_sel:
              summary: Select an example or type an ID - click on 'Try it out' first
            OPGS002402:
              value: 'OPGS002402'
            OPGS003423:
              value: 'OPGS003423'
        - in: query
          name: pmid
          schema:
            type: integer
          required: false
          description: PubMed ID (without the prefix "PMID:") - *optional*
          examples:
            pmid_sel:
              summary: Select an example or type an ID - click on 'Try it out' first
            pmid_1:
              summary: 'PMID: 36991119'
              value: 36991119
        - in: query
          name: author
          schema:
            type: string
          required: false
          description: Publication author (any author in the list of authors in a publication) - *optional*
          examples:
            author_sel:
              summary: Select an example or type a name - click on 'Try it out' first
            Xu:
              value: 'Xu'
            Inouye:
              value: 'Inouye'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: "List of Publications"
                    type: array
                    items:
                      $ref: '#/components/schemas/Publication_extended'
          description: |
            List all the Publications associated with the request
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  ## Score endpoints ##
  # /api/score/all:
  #   get:
  #     tags:
  #       - "Score endpoints"
  #     operationId: getAllScores
  #     description: |
  #       Retrieve all the OmicsPred Genetic Scores, including for each of them:
  #         * OmicsPred Genetic Score (OPGS) ID and name
  #         * Method used
  #         * Dataset name
  #         * Publication information
  #         * Platform information
  #         * Tissue information
  #         * Reported molecular trait(s)
  #         * Mapped molecular trait(s): Gene(s), Transcript(s), Protein(s) and Metabolite(s)
  #         * Variants number
  #         * Variants genome build
  #         * Score license
  #         * Ancestry distribution (only when the parameter *include_ancestry=1* is used)

  #       Example of request:
  #       ```
  #       - https://rest.omicspred.org/api/score/all
  #       - https://rest.omicspred.org/api/score/all?include_ancestry=1
  #       ```
  #       ---
  #       ###### **Filtering**

  #       You can choose to filter the results of this endpoint to a specified list of genetic scores by providing a list of OmicsPred Genetic Score IDs (OPGS) in one of two ways:
  #       1. A comma-seperated list of scores in the request URL (this will not work for larger queries), e.g.:
  #       ```
  #       https://rest.omicspred.org/api/score/all?filter_ids=OPGS002402,OPGS003423
  #       ```
  #       2. A json-formatted list of IDs, e.g.: `{ "filter_ids" : ["OPGS002402","OPGS003423"] }`. Example with curl:
  #       ```
  #       curl -X GET https://rest.omicspred.org/score/all' -H 'Content-type:application/json' -d '{ "filter_ids" : ["OPGS002402", "OPGS003423"] }'
  #       ```
  #     parameters:
  #       - name: filter_ids
  #         in: query
  #         required: false
  #         schema:
  #           type: string
  #         description: Comma-separated list of OmicsPred Score IDs or JSON object with an array of OmicsPred Score IDs
  #         examples:
  #           opgs_ids_sel:
  #             summary: Select an example or type OmicsPred Score ID(s) - click on 'Try it out' first
  #           opgs_ids_1:
  #             summary: 'OPGS002402, OPGS003423'
  #             value: 'OPGS002402,OPGS003423'
  #       - name: include_ancestry
  #         in: query
  #         required: false
  #         description: Flag to include or not the ancestry distribution for each score [default=0] - *optional*
  #         schema:
  #           type: integer
  #         examples:
  #           exclude_ancestry_sel:
  #             summary: Hide the ancestry distribution
  #             value: 0
  #           include_ancestry_sel:
  #             summary: Include the ancestry distribution
  #             value: 1
  #     responses:
  #       '200':
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               allOf:
  #                 - $ref: '#/components/schemas/Pagination'
  #               properties:
  #                 results:
  #                   description: "List all the OmicsPred Genetic Scores"
  #                   type: array
  #                   items:
  #                     oneOf:
  #                       - $ref: '#/components/schemas/Score'
  #                       - $ref: '#/components/schemas/Score_Ancestry'
  #         description: |
  #           List all the OmicsPred Genetic Scores
        
  #           ---

  #           __Notes:__ This endpoint uses pagination.
  #       '4XX':
  #         content:
  #             application/json:
  #               schema:
  #                 $ref: '#/components/schemas/Error_4XX'
  #         description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/score/{opgs_id}:
    get:
      tags:
        - "Score endpoints"
      operationId: getScore
      description: |
        Retrieve an OmicsPred Genetic Score, including:
          * Score ID and name
          * Method used
          * Dataset name
          * Publication information
          * Platform information
          * Tissue information
          * Reported molecular trait(s)
          * Mapped molecular trait(s): Gene(s), Transcript(s), Protein(s) and Metabolite(s)
            * with pathways **[** only when the parameter **include_pathway** is set to **1** **]**
          * Variants number
          * Variants genome build
          * Score license
          * Ancestry distribution

        Examples of request:
        ```
        - https://rest.omicspred.org/api/score/OPGS002402
        - https://rest.omicspred.org/api/score/OPGS002402?include_pathway=1
        ```
      parameters:
      - name: opgs_id
        in: path
        required: true
        description: 'OmicsPred Score ID'
        examples:
          OPGS002402:
            value: 'OPGS002402'
          OPGS003423:
            value: 'OPGS003423'
        schema:
          type: string
      - name: include_pathway
        in: query
        required: false
        schema:
          type: integer
        description: Include the list of pathways in the genes and metabolites
        examples:
          exclude_pathway_sel:
            summary: Exclude the list of pathways in the genes and metabolites
            value: 0
          include_pathway_sel:
            summary: Include the list of pathways in the genes and metabolites
            value: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Score_Ancestry'
                  - $ref: '#/components/schemas/Score_Pathway'
          description: 'OmicsPred Score'
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/score/search:
    get:
      tags:
        - "Score endpoints"
      operationId: searchScores
      description: |
        Search OmicsPred Genetic Score(s) by OmicsPred Score ID, PubMed ID, tissue ID, cohort and/or platform.

        Each result includes:
          * Score ID and name
          * Method used
          * Dataset name
          * Publication information
          * Platform information
          * Tissue information
          * Reported molecular trait(s)
          * Mapped molecular trait(s): Gene(s), Transcript(s), Protein(s) and Metabolite(s)
          * Variants number
          * Variants genome build
          * Score license
          * Ancestry distribution (unless the parameter **include_ancestry=0** is used)

        Example of request:
        ```
        https://rest.omicspred.org/api/score/search?pmid=36991119
        ```
      parameters:
        - name: opgs_ids
          in: query
          required: false
          description: Comma-separated list of OmicsPred Score IDs - *optional*
          schema:
            type: string
          examples:
            opgs_ids_sel:
              summary: Select an example or type OmicsPred Score ID(s) - click on 'Try it out' first
            opgs_ids_1:
              summary: 'OPGS002402, OPGS003423'
              value: 'OPGS002402,OPGS003423'
        - name: pmid
          in: query
          required: false
          description: PubMed ID (without the prefix "PMID:") - *optional*
          schema:
            type: integer
          examples:
              pmid_sel:
                summary: Select an example or type an ID - click on 'Try it out' first
              pmid_1:
                summary: 'PMID: 36991119'
                value: 36991119
        - name: platform
          in: query
          required: false
          description: The platform name.
          schema:
            type: string
          examples:
            platform_sel:
              summary: Select an example or type a platform name - click on 'Try it out' first
            Olink:
              value: 'Olink'
            Nightingale:
              value: 'Nightingale'
        - name: tissue_id
          in: query
          required: false
          description: A tissue ID.
          schema:
            type: string
          examples:
            cohort_sel:
              summary: Select an example or type a tissue ID - click on 'Try it out' first
            UBERON_0001969:
              value: 'UBERON_0001969'
            BTO_0000133:
              value: 'BTO_0000133'
        - name: cohort
          in: query
          required: false
          description: A cohort name.
          schema:
            type: string
          examples:
            cohort_sel:
              summary: Select an example or type a cohort name - click on 'Try it out' first
            INTERVAL:
              value: 'INTERVAL'
            UKB:
              value: 'UKB'
        - name: include_ancestry
          in: query
          required: false
          description: Flag to include or not the ancestry distribution for each score [**default=1**] - *optional*
          schema:
            type: integer
          examples:
            exclude_ancestry_sel:
              summary: Hide the ancestry distribution
              value: 0
            include_ancestry_sel:
              summary: Include the ancestry distribution
              value: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: "List of Genetic Scores"
                    type: array
                    items:
                      $ref: '#/components/schemas/Score_Ancestry'
          description: |
            List all the Genetic scores linked with the request
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/score/search/{type}/{molecular_trait}:
    get:
      tags:
        - "Score endpoints"
      operationId: searchScoresByMolecularTrait
      description: |
        Search the Genetic Score(s) using a molecular trait name/symbol or ID.

        The molecular trait types are:
          * gene
          * protein
          * metabolite

        Each result includes:
          * Score ID and name
          * Method used
          * Dataset name
          * Publication information
          * Platform information
          * Tissue information
          * Reported molecular trait(s)
          * Mapped molecular trait(s): Gene(s), Transcript(s), Protein(s) and Metabolite(s)
          * Variants number
          * Variants genome build
          * Score license
          * Ancestry
          * Performance metrics **[** only when the parameter **include_performance_metrics** is set to **1** **]**

        Examples of request:
        ```
        - https://rest.omicspred.org/api/score/search/gene/COL1A1
        - https://rest.omicspred.org/api/score/search/gene/COL1A1?include_performance_metrics=1
        ```
      parameters:
        - name: type
          in: path
          required: true
          description: 'Molecular trait type'
          schema:
            type: string
            enum: [gene, protein, metabolite]
            readOnly: true
        - name: molecular_trait
          in: path
          required: true
          description: 'Molecular Trait name/symbol or ID'
          examples:
            Gene COL1A1:
              value: "COL1A1"
            Protein Q8IW75:
              value: "Q8IW75"
            Metabolite CHEBI_25017:
              value: "CHEBI_25017"
          schema:
            type: string
        - name: include_performance_metrics
          in: query
          required: false
          schema:
            type: integer
          description: Flag to include or not the Performance Metrics for each score [default=0]  - *optional*
          examples:
            exclude_perf_sel:
              summary: Exclude the list of Performance Metrics
              value: 0
            include_perf_sel:
              summary: Include the list of Performance Metrics
              value: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: "List of Genetic scores linked with the molecular trait"
                    type: array
                    items:
                      oneOf:
                        - $ref: '#/components/schemas/Score_Ancestry'
                        - $ref: '#/components/schemas/Score_Performance'
          description: |
            List all the Genetic scores linked with the molecular trait
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/score/performance/{opgs_id}:
    get:
      tags:
        - "Score endpoints"
      operationId: getScorePerformance
      description: |
        Retrieve an OmicsPred Genetic Score (OPGS) with its performance metrics, including:
          * Score ID and name
          * Method used
          * Dataset name
          * Publication information
          * Platform information
          * Tissue information
          * Reported molecular trait(s)
          * Mapped molecular trait(s): Gene(s), Transcript(s), Protein(s) and Metabolite(s)
          * Variants number
          * Variants genome build
          * Score license
          * Ancestry
          * Score performance metric(s) 
          * Cohort(s) associated with the performance metric(s)

        Example of request:
        ```
        https://rest.omicspred.org/api/score/performance/OPGS002402
        ```
      parameters:
      - name: opgs_id
        in: path
        required: true
        description: 'OmicsPred Score ID'
        examples:
          OPGS002402:
            value: 'OPGS002402'
          OPGS003423:
            value: 'OPGS003423'
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Score_Performance'
          description: 'OmicsPred Score with Performance Metrics'
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)


  ## Platform endpoints ##
  /api/platform/all:
    get:
      tags:
        - "Platform endpoints"
      operationId: getAllPlatforms
      description: |
        Retrieve all the Platforms, including for each of them:
          * Name
          * Versions
          * Technic
          * Type (Transcriptomics, Proteomics, Metabolomics)
          * Number ofLinked genetic Scores

        Example of request:
        ```
        https://rest.omicspred.org/api/platform/all
        ```
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: 'List all the Platforms'
                    type: array
                    items:
                      $ref: '#/components/schemas/Platform_extended'
          description: |
            List all the Platforms
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/platform/{platform}:
    get:
      tags:
        - "Platform endpoints"
      operationId: getPlatform
      description:  |
        Retrieve a Platform, including:
          * Name
          * Versions
          * Technic
          * Type (Transcriptomics, Proteomics, Metabolomics)
          * Number ofLinked genetic Scores

        Example of request:
        ```
        https://rest.omicspred.org/api/platform/Olink
        ```
      parameters:
      - name: platform
        in: path
        required: true
        description: 'Platform name'
        example: 'Olink'
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Platform_extended'
          description: 'Information about the platform'
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)


  ## Dataset endpoints ##
  /api/dataset/all:
    get:
      tags:
        - "Dataset endpoints"
      operationId: getAllDatasets
      description: |
        Retrieve all the Dataset data, including for each of them:
          * Dataset name
          * Publication information
          * Platform information
          * Number of Genetic Scores
          * Tissue information
          * Training Samples and Cohorts
          * Validation Samples and Cohorts
          * URLs to the data files

        Example of request:
        ```
        https://rest.omicspred.org/api/dataset/all
        ```
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    description: "List all the Datasets"
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset_extended'
          description: |
            List all the Datasets
        
            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/dataset/{dataset}:
    get:
      tags:
        - "Dataset endpoints"
      operationId: getDatasets
      description: |
        Retrieve all the datasets associated with a dataset name, including:
          * Dataset name
          * Publication information
          * Platform information
          * Number of Genetic Scores
          * Tissue information
          * Training Samples and Cohorts
          * Validation Samples and Cohorts
          * URLs to the data files

        Examples of request:
        ```
        - https://rest.omicspred.org/api/dataset/INTERVAL
        ```
      parameters:
      - name: dataset
        in: path
        required: true
        description: "Dataset name"
        example: "UKB European"
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Dataset_extended'
          description: |
            List of Dataset data from the given dataset name

            ---

            __Notes:__ This endpoint uses pagination.
        '4XX':
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/Error_4XX'
          description: Client error (e.g. 400 - Bad request, 405 - Method not allowed)

  /api/dataset/search:
    get:
      tags:
        - "Dataset endpoints"
      operationId: searchDataset
      description: |
        Retrieve all the datasets associated with a platform, PubMed ID and/or a tissue ID.

        Each result includes:
          * Dataset name
          * Publication information
          * Platform information
          * Number of Genetic Scores
          * Tissue information
          * Training Samples and Cohorts
          * Validation Samples and Cohorts
          * URLs to the data files

        Examples of request:
        ```
        - https://rest.omicspred.org/api/dataset/search?platform=Olink
        - https://rest.omicspred.org/api/dataset/search?pmid=36991119
        ```
      parameters:
      - name: pmid
        required: false
        in: query
        description: PubMed ID (without the prefix "PMID:") - *optional*
        schema:
          type: integer
        examples:
          pmid_sel:
            summary: Select an example or type an ID - click on 'Try it out' first
          pmid_1:
            summary: 'PMID: 36991119'
            value: 36991119
      - name: platform
        required: false
        in: query
        description: "Platform name"
        schema:
          type: string
        examples:
          platform_sel:
            summary: Select an example or type a platform name - click on 'Try it out' first
          Olink:
            value: 'Olink'
          Nightingale:
            value: 'Nightingale'
      - name: tissue_id
        in: query
        required: false
        description: A tissue ID.
        schema:
          type: string
        examples:
          cohort_sel:
            summary: Select an example or type a tissue ID - click on 'Try it out' first
          UBERON_0001969:
            value: 'UBERON_0001969'
          BTO_0000133:
            value: 'BTO_0000133'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                properties:
                  results:
[...]
