{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center px-5 py-4 mt-auto border-top">
    <div class="col-3 d-flex align-items-center" style="vertical-align: middle">
        <a href="http://www.inouyelab.org/" target="_blank">
            <i class="bi bi-building"></i> Lab's website
        </a>
    </div>
    <div class="col-6 op_copyright"><a href="http://www.inouyelab.org/" class="" title="" target="_blank">
        <a href="http://www.inouyelab.org/" target="_blank">
            <i class="bi bi-c-circle-fill"></i> All Genetics Scores are provided under a CC-BY license
        </a>
    </div>
    <ul class="nav col-3 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a href="mailto:omicspred@gmail.com" class="" title="Contact us" target="_blank"><i class="bi bi-envelope"></i></a>
        </li>
        <li class="ms-3">
            <a href="https://twitter.com/CamBakerSGI" target="_blank" title="Twitter @CamBakerSGI"><i class="bi bi-twitter-x"></i></a>
        </li>
    </ul>
</footer>