{% load static %}
<footer class="d-flex flex-wrap justify-content-between align-items-center px-5 py-4 mt-auto border-top bg-light min-vw-100" style="min-width: 100% !important">
    <div class="col-md-4 d-flex align-items-center" style="vertical-align: middle;">
        <a href="http://www.inouyelab.org/" target="_blank">
            <i class="bi bi-building"></i> Lab's website
        </a>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <a href="http://www.inouyelab.org/" target="_blank">
            <i class="bi bi-c-circle-fill"></i> All Genetics Scores are provided under a CC-BY license
        </a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a href="https://twitter.com/CamBakerSGI" target="_blank"><i class="bi bi-twitter"></i> Twitter</a>
        </li>
    </ul>
</footer>