{% load static %}
{% with op_root_url="https://www.omicspred.org" %}
  <header style="position:fixed;top:0;left:0;width:100%;z-index:10">
    <nav position="fixed" class="navbar navbar-expand-md navbar-light sticky-top">
      <div class="container">
        <a href="{{ op_root_url }}/" class="navbar-brand"><i class="bi bi-code-slash pe-2" style="color:#FFF"></i>OmicsPred</a>
        <button aria-controls="basic-navbar-nav" type="button" aria-label="Toggle navigation" class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="basic-navbar-nav">
          <div class="me-auto navbar-nav">
            <a href="{{ op_root_url }}/" data-rr-ui-event-key="{{ op_root_url }}/" class="nav-link">Home</a>
            <div class="nav-item dropdown">
              <a id="dropdownmenu1" role="button" data-bs-toggle="dropdown" class="dropdown-toggle nav-link" href="#">Browse</a>
              <div class="dropdown-menu" aria-labelledby="dropdownmenu1">
                <a href="{{ op_root_url }}/scores" class="dropdown-item">Scores</a>
                <a href="{{ op_root_url }}/publications" class="dropdown-item">Publications</a>
                <a href="{{ op_root_url }}/platforms" class="dropdown-item">Platforms</a>
                <a href="{{ op_root_url }}/pathways" class="dropdown-item">Pathways</a>
              </div>
            </div>
            <div class="nav-item dropdown">
              <a id="dropdownmenu2" role="button" data-bs-toggle="dropdown" class="dropdown-toggle nav-link" href="#">PheWAS</a>
              <div class="dropdown-menu" aria-labelledby="dropdownmenu2">
                <a href="{{ op_root_url }}/applications/phecode/sum" data-rr-ui-dropdown-item="" class="dropdown-item">Summary</a>
                <a href="{{ op_root_url }}/applications/phecode/full" data-rr-ui-dropdown-item="" class="dropdown-item">All Associations</a>
              </div>
            </div>
            <a href="https://forms.gle/KLZGbvurrftF5vo46" target="_blank" data-rr-ui-event-key="https://forms.gle/KLZGbvurrftF5vo46" class="nav-link">Submit Score</a>
            <a href="{{ op_root_url }}/faqs" data-rr-ui-event-key="{{ op_root_url }}/faqs" class="nav-link">FAQs</a>
            <a href="{{ op_root_url }}/cohorts" data-rr-ui-event-key="{{ op_root_url }}/cohorts" class="nav-link">Cohorts</a>
            <a href="{{ op_root_url }}/about" data-rr-ui-event-key="{{ op_root_url }}/about" class="nav-link">About</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endwith %}